# Cargo build output
target/

# Trunk WASM build output
dist/

# wasm-pack output
pkg/

# generated with bench-native
public/native_bench.json

*.env
.env.*

.idea/
.vscode/
*.swp
*~
stockfish
books
results_1500.pgn results.pgn
results_1500.pgn results.pgn
*.pgn
